<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ForgetPasswordPage</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
			.card {
				box-shadow: 0 0 5px 0 ;
				background: inherit;
				backdrop-filter: blur(10px);
			}
			.margintop{
				margin-top: 10px;
			}
			label{
				font-weight:bold;
			}
			td{
				border: 1px solid black;
			}
			th{
    			border: 1px solid black;
			}    
		</style>
    </head>

    <body>
        <h1 class="text-center mb-5">Reset Password</h1>
        <form method="post" enctype="multipart/form-data" th:action="@{/patients/forgetPassword/{patientId}(patientId=${patient.patientId})}" th:object="${patient}">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto rounded card p-4 m-4">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Patient ID</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{patientId}" class="form-control" style="border: none;" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{firstName}" class="form-control" style="border: none;" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{lastName}" class="form-control"  style="border: none;" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3" style="display: none;">
                        <label class="col-sm-4 col-form-label">Date of Birth</label>
                        <div class="col-sm-8">
                            <input type="date" th:field="*{dob}" class="form-control"  style="border: none;" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3" style="display: none;">
                        <label class="col-sm-4 col-form-label">Gender</label>
                        <div class="col-sm-8">
                            <select name="gender" id="gender" th:field="*{gender}"  class="form-control">
                                <option value="" disabled selected>Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                            <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" style="color:red">Gender error</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Contact Number</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{contactNumber}" class="form-control"  style="border: none;" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{email}" class="form-control"  style="border: none;" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3" style="display: none;">
                        <label class="col-sm-4 col-form-label">Address</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{address}" class="form-control"  style="border: none;" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3" style="display: none;">
                        <label class="col-sm-4 col-form-label">MedicalHistory</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{medicalHistory}" class="form-control"  style="border: none;" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3" style="display: none;">
                        <label class="col-sm-4 col-form-label">InsuranceID</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{insuranceID}" class="form-control"  style="border: none;" readonly/>
                        </div>
                    </div>
                    <!--<div class="row mb-3" style="display: none;">
                        <label class="col-sm-4 col-form-label">DoctorID</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{doctorID}" class="form-control"  style="border: none;" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3" style="display: none;">
                        <label class="col-sm-4 col-form-label">NurseID</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{nurseID}" class="form-control"  style="border: none;" readonly/>
                        </div>
                    </div>-->
                    <div class="row mb-3" style="display: none;">
                        <label class="col-sm-4 col-form-label">RoomID</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{roomID}" class="form-control"  style="border: none;" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" th:field="*{password}" class="form-control" />
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red">password error</div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Update Password</button>
                        <a class="btn btn-primary" href="/index">Back</a>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
