<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payment Receipt</title>
</head>
<body>
<h1>Payment Receipt</h1>
<p><strong>Payment ID:</strong> <span th:text="${payment.paymentId}"></span></p>
<p><strong>Patient ID:</strong> <span th:text="${payment.patientId}"></span></p>
<p><strong>Payment Date:</strong> <span th:text="${payment.paymentDate}"></span></p>
<p><strong>Payment Method:</strong> <span th:text="${payment.paymentMethod}"></span></p>
<p><strong>Payment Details:</strong> <span th:text="${payment.paymentDetails}"></span></p>
<p><strong>Payment Status:</strong> <span th:text="${payment.paymentStatus}"></span></p>
<p><strong>Total Amount:</strong> <span th:text="${payment.totalAmount}"></span></p>
</body>
</html>
