<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Patient Details</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
			.card {
				box-shadow: 0 0 5px 0 ;
				background: inherit;
				backdrop-filter: blur(10px);
			}
			.margintop{
				margin-top: 10px;
			}
			label{
				font-weight:bold;
			}
			td{
				border: 1px solid black;
			}
			th{
    			border: 1px solid black;
			}    
		</style>
    </head>
        <body>
        <div th:if="${!#authorization.expression('hasRole(''ROLE_PATIENT'')')}">
            <a class="btn btn-primary" href="/patients/all" style="float: left; margin-left: 5px;">Back to Patients List</a>
        </div>
            <a class="btn btn-primary" href="/login" style="float: right; margin-right: 5px;">Logout</a>
            <h1 class="text-center my-4 margintop">Patient Details</h1>
            <h3 style="margin-left: 10px;">Patient Information</h3>
            <div class="container">
                <table class="table" style="width: auto; margin:auto;">
                    <tr>
                        <th>Patient ID</th>
                        <td th:text="${patient.patientId}"></td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td th:text="${patient.firstName}"></td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td th:text="${patient.lastName}"></td>
                    </tr>
                    <tr>
                        <th>Date of Birth</th>
                        <td th:text="${patient.dob}"></td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td th:text="${patient.age}"></td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td th:text="${patient.gender}"></td>
                    </tr>
                    <tr>
                        <th>Contact Number</th>
                        <td th:text="${patient.contactNumber}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td th:text="${patient.email}"></td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td th:text="${patient.address}"></td>
                    </tr>
                    <tr>
                        <th>Medical History</th>
                        <td th:text="${patient.medicalHistory}"></td>
                    </tr>
                    <tr>
                        <th>Insurance ID</th>
                        <td th:text="${patient.insuranceID}"></td>
                    </tr>
                    <tr>
                        <th>Doctor Name</th>
                        <td th:text="${doctorName}"></td>
                    </tr>
                    <tr>
                        <th>Nurse Name</th>
                        <td th:text="${nurseName}"></td>
                    </tr>
                    <tr>
                        <th>Created Date</th>
                        <td th:text="${patient.timestamp}"></td>
                    </tr>
                </table>
            </div>    
            <h3 style="margin-left: 10px; margin-top: 25px">Medical Record Information</h3>
            <table class="table" style="width: 50%; margin:0 auto;">
                <thead>
                    <tr>
                        <th>Medical Record ID</th>
                        <th>Diagnosis</th>
                        <th>Diagnosis Notes</th>
                        <th>Medical Result</th>
                        <th>Medications Prescribed</th>
                        <th>Date</th>
                        <th>Employee ID</th>
                        <th>Patient ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="medicalRecord :${medicalRecords}">
                        <td th:text="${medicalRecord.medicalRecordId}"></td>
                        <td th:text="${medicalRecord.diagnosis}"></td>
                        <td th:text="${medicalRecord.diagnosisNotes}"></td>
                        <td th:text="${medicalRecord.medicalResult}"></td>
                        <td th:text="${medicalRecord.medicationsPrescribed}"></td>
                        <td th:text="${medicalRecord.date}"></td>
                        <td th:text="${medicalRecord.employeeId}"></td>
                        <td th:text="${medicalRecord.patientId}"></td>

                    </tr>
                </tbody>
        </table>

            <h4 style="margin-left: 10px; margin-top: 25px">Patient Event Record Information</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Patient ID</th>
                    <th>Event date</th>
                    <th>Event Type</th>
                    <th>Details</th>
                    <th>Assigned doctor ID</th>
                    <th>Assigned nurse ID</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record : ${patientEventRecords}">
                    <td th:text="${record.eventId}"></td>
                    <td th:text="${record.patientId}"></td>
                    <td th:text="${record.eventDate}"></td>
                    <td th:text="${record.eventType}"></td>
                    <td th:text="${record.details}"></td>
                    <td th:text="${record.assignedDoctorId}"></td>
                    <td th:text="${record.assignedNurseId}"></td>
                </tr>
                </tbody>
            </table>

            <h4 style="margin-left: 10px; margin-top: 25px">Payment Details</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Payment Date</th>
                    <th>Payment method</th>
                    <th>Payment Details</th>
                    <th>Doctor Fees</th>
                    <th>Payment Status</th>
                    <th>Total Amount</th>
                    <th>Receipt</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payment : ${payments}">
                    <td th:text="${payment.paymentDate}"></td>
                    <td th:text="${payment.paymentMethod}"></td>
                    <td th:text="${payment.paymentDetails}"></td>
                    <td th:text="${payment.doctorFees}"></td>
                    <td th:text="${payment.paymentStatus}"></td>
                    <td th:text="${payment.totalAmount}"></td>
                    <td style="white-space:nowrap">
                        <a class="btn btn-primary" th:href="@{/payments/receipt/{id}(id=${payment.paymentId})}" target="_blank">Download Receipt</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <h4 style="margin-left: 10px; margin-top: 25px">Prescriptions</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Prescription ID</th>
                    <th>Patient ID</th>
                    <th>Medicine</th>
                    <th>Medicine Price</th>
                    <th>Dosage</th>
                    <th>Number of Days</th>
                    <th>Pharmacy Bill</th>
                    <th>Created At</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="prescription : ${pharmacyPrescriptionRecords}">
                    <td th:text="${prescription.prescriptionID}"></td>
                    <td th:text="${prescription.patientID}"></td>
                    <td th:text="${prescription.inventory.medicineName}"></td>
                    <td th:text="${prescription.medicinePrice}"></td>
                    <td th:text="${prescription.medicineDosage}"></td>
                    <td th:text="${prescription.numberOfDays}"></td>
                    <td th:text="${prescription.pharmacyBill}"></td>
                    <td th:text="${prescription.createdAt}"></td>

                </tr>
                </tbody>
            </table>

            <h4 style="margin-left: 10px; margin-top: 25px">Appointments</h4>
            <div class="container">
                <a class="btn btn-primary" href="/appointments/create" style="float: right; margin-right: 5px;">Book Appointment</a>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Patient ID</th>
                    <th>Doctor ID</th>
                    <th>Appointment Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="appointment : ${appointmentRecords}">
                    <td th:text="${appointment.appointmentId}"></td>
                    <td th:text="${appointment.patientId}"></td>
                    <td th:text="${appointment.doctorId}"></td>
                    <td th:text="${appointment.date}"></td>
                    <td th:text="${appointment.startTime}"></td>
                    <td th:text="${appointment.endTime}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/appointments/update/{id}(id=${appointment.appointmentId})}">Edit</a>
                        <a class="btn btn-primary" th:href="@{/appointments/delete/{id}(id=${appointment.appointmentId})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>

        <h4 style="margin-left: 10px; margin-top: 25px">Rooms</h4>
        <div class="container">
            <div th:if="${!#authorization.expression('hasRole(''ROLE_PATIENT'')')}">
            <a th:href="@{/rooms/new}" class="btn btn-primary" style="margin-bottom: 5px;">Create New Room</a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Room Number</th>
                    <th>Room Type</th>
                    <th>Admission Start Date</th>
                    <th>Admission End Date</th>
                    <th>Number of Days</th>
                    <th>Room Bill</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="room : ${rooms}">
                    <td th:text="${room.patientId}">Patient ID</td>
                    <td th:text="${room.roomNumber}">Room Number</td>
                    <td th:text="${room.roomType}">Room Type</td>
                    <td th:text="${room.roomAdmissionStartDate}">Admission Start Date</td>
                    <td th:text="${room.roomAdmissionEndDate}">Admission End Date</td>
                    <td th:text="${room.numberOfDays}">Number of Days</td>
                    <td th:text="${room.roomBill}">Total Cost</td>
                    <td>
                        <div th:if="${!#authorization.expression('hasRole(''ROLE_PATIENT'')')}">
                        <a th:href="@{/rooms/edit/{id}(id=${room.id})}">Edit</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        </body>
</html>
