<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inventory List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
            .card {
                box-shadow: 0 0 5px 0 ;
                background: inherit;
                backdrop-filter: blur(10px);
            }
            .margintop{
                margin-top: 10px;
            }
            label{
                font-weight:bold;
            }
            td{
                border: 1px solid black;
            }
            th{
                border: 1px solid black;
            }    
        </style>
    </head>
    <body>
        <a class="btn btn-primary" href="/index" style="float: right; margin-right: 5px; margin-top: 1px;">Logout</a>
        <h1 class="text-center mb-4 margintop">Inventory List</h1>
        <div class="container">
            <form th:action="@{/inventories}" method="get">
                <input type="text" name="keyword" placeholder="Search by medicine name" th:value="${keyword}" />
                <button type="submit" style="background-color: #0D6EFD; color:white; margin-bottom: 10px;">Search</button>
                <a href="/inventories">Clear</a>
            </form>
            <a class="btn btn-primary" style="margin-bottom: 5px;" href="/inventories/new">Add New Inventory</a>
            <a class="btn btn-primary" style="float: right; margin-bottom: 5px;" href="/medicalmanagement/dashboard">Back</a>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Medicine Name</th>
                    <th>Medicine Description</th>
                    <th>Inventory Quantity</th>
                    <th>Expiry Date</th>
                    <th>Medicine Price</th>
                    <th>Employee ID</th>
                    <th>Created At</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="inventory : ${listInventories}">
                    <td th:text="${inventory.inventoryID}"></td>
                    <td th:text="${inventory.medicineName}"></td>
                    <td th:text="${inventory.medicineDescription}"></td>
                    <td th:text="${inventory.stockQuantity}"></td>
                    <td th:text="${inventory.expiryDate}"></td>
                    <td th:text="${inventory.medicinePrice}"></td>
                    <td th:text="${inventory.employeeID}"></td>
                    <td th:text="${inventory.createdAt}"></td>
                    <td th:text="${inventory.lastUpdated}"></td>
                    <td>
                        <a th:href="@{/inventories/update/{id}(id=${inventory.inventoryID})}">Edit</a>
                        <a th:href="@{/inventories/delete/{id}(id=${inventory.inventoryID})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div> 
    </body>
</html>
