<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rooms</title>
</head>
<body>
<h1>Rooms</h1>
<table border="1">
    <thead>
    <tr>
        <th>Patient ID</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Admission Start Date</th>
        <th>Admission End Date</th>
        <th>Number of Days</th>
        <th>Room Bill</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.patientId}">Patient ID</td>
        <td th:text="${room.roomNumber}">Room Number</td>
        <td th:text="${room.roomType}">Room Type</td>
        <td th:text="${room.roomAdmissionStartDate}">Admission Start Date</td>
        <td th:text="${room.roomAdmissionEndDate}">Admission End Date</td>
        <td th:text="${room.numberOfDays}">Number of Days</td>
        <td th:text="${room.roomBill}">Total Cost</td>
        <td>
            <a th:href="@{/rooms/edit/{id}(id=${room.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/rooms/new}">Create New Room</a>
</body>
</html>
