<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Appointments</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
			.card {
				box-shadow: 0 0 5px 0 ;
				background: inherit;
				backdrop-filter: blur(10px);
			}
			.margintop{
				margin-top: 10px;
			}
			label{
				font-weight:bold;
			}
			td{
				border: 1px solid black;
			}
			th{
    			border: 1px solid black;
			}    
		</style>
    </head>
    <body>
        <a class="btn btn-primary" style="float:right; margin-right: 5px; margin-top: 2px;" href="/index">Logout</a>
        <h1 class="text-center mb-4 margintop">Appointments</h1>
        <div class="container">
            <a class="btn btn-primary" style="margin-bottom: 5px;" th:href="@{/appointments/create}">Add New Appointment</a>
            <a class="btn btn-primary" style="margin-bottom: 5px; float:right;" href="/medicalmanagement/dashboard">Back</a>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Patient ID</th>
                    <th>Patient - First Name</th>
                    <th>Patient - Last Name</th>
                    <th>Doctor ID</th>
                    <th>Doctor - First Name</th>
                    <th>Doctor - Last Name</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="appointment : ${appointments}">
                    <td th:text="${appointment.appointmentId}"></td>
                    <td th:text="${appointment.patientId}"></td>
                    <td th:text="${appointment.patientFirstName}"></td>
                    <td th:text="${appointment.patientLastName}"></td>
                    <td th:text="${appointment.doctorId}"></td>
                    <td th:text="${appointment.doctorFirstName}"></td>
                    <td th:text="${appointment.doctorLastName}"></td>
                    <td th:text="${appointment.date}"></td>
                    <td th:text="${appointment.startTime}"></td>
                    <td th:text="${appointment.endTime}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/appointments/update/{id}(id=${appointment.appointmentId})}">Edit</a>
                        <a class="btn btn-primary" th:href="@{/appointments/delete/{id}(id=${appointment.appointmentId})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>    
    </body>
</html>
