<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Prescription List</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
			.card {
				box-shadow: 0 0 5px 0 ;
				background: inherit;
				backdrop-filter: blur(10px);
			}
			.margintop{
				margin-top: 10px;
			}
			label{
				font-weight:bold;
			}
			td{
				border: 1px solid black;
			}
			th{
    			border: 1px solid black;
			}    
		</style>
    </head>
    <body>
        <a class="btn btn-primary" href="/index" style="float: right; margin-right: 5px; margin-top: 1px;">Logout</a>
        <h1 class="text-center mb-4 margintop">Prescription List</h1>
        <div class="container">
            <form action="/prescriptions/search" method="get">
                <input type="text" name="patientID" placeholder="Search by Patient ID">
                <button type="submit" style="background-color: #0D6EFD; color:white; margin-bottom: 10px;">Search</button>
                <button id="reset" value="Reset" style="background-color: #DC3545; color:white;">Reset</button>
            </form>
            <a href="/prescriptions/new" style="margin-bottom: 5px;" class="btn btn-primary">Add New Prescription</a>
            <a class="btn btn-primary" style="float:right; margin-bottom: 5px;" href="/medicalmanagement/dashboard">Back</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Prescription ID</th>
                    <th>Patient ID</th>
                    <th>Medicine</th>
                    <th>Medicine Price</th>
                    <th>Dosage</th>
                    <th>Number of Days</th>
                    <th>Pharmacy Bill</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="prescription : ${listPrescriptions}">
                    <td th:text="${prescription.prescriptionID}"></td>
                    <td th:text="${prescription.patientID}"></td>
                    <td th:text="${prescription.inventory.medicineName}"></td>
                    <td th:text="${prescription.medicinePrice}"></td>
                    <td th:text="${prescription.medicineDosage}"></td>
                    <td th:text="${prescription.numberOfDays}"></td>
                    <td th:text="${prescription.totalBill}"></td>
                    <td th:text="${prescription.createdAt}"></td>
                    <td>
                        <a th:href="@{/prescriptions/delete/{id}(id=${prescription.prescriptionID})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>