<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient Event Records</title>
</head>
<body>
<h1>Patient Event Records</h1>
<a th:href="@{/patientEventRecord/create}">Add New Record</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Patient ID</th>
        <th>Event date</th>
        <th>Event Type</th>
        <th>Details</th>
        <th>Assigned doctor ID</th>
        <th>Assigned nurse ID</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${patientEventRecords}">
        <td th:text="${record.eventId}"></td>
        <td th:text="${record.patientId}"></td>
        <td th:text="${record.eventDate}"></td>
        <td th:text="${record.eventType}"></td>
        <td th:text="${record.details}"></td>
        <td th:text="${record.assignedDoctorId}"></td>
        <td th:text="${record.assignedNurseId}"></td>
        <td>
            <a th:href="@{/patientEventRecord/update/{eventId}(eventId=${record.eventId})}">Edit</a>
            <form th:action="@{/patientEventRecord/delete}" method="post" style="display:inline;">
                <input type="hidden" th:name="patientEventRecordId" th:value="${record.eventId}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
