<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Update Appointment</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
			.card {
				box-shadow: 0 0 5px 0 ;
				background: inherit;
				backdrop-filter: blur(10px);
			}
			.margintop{
				margin-top: 10px;
			}
			label{
				font-weight:bold;
			}
			td{
				border: 1px solid black;
			}
			th{
    			border: 1px solid black;
			}    
		</style>
    </head>
    <body>
        <a class="btn btn-primary" href="/index" style="float: right; margin-right: 5px;">Logout</a>
        <h1 class="text-center mb-5 margintop">Update Appointment</h1>
        <form th:action="@{/appointments/update/{id}(id=${appointment.appointmentId})}" th:object="${appointment}" method="post">
            <div class="container card">
                <div class="row">
                    <div class="col-md-8 mx-auto rounded p-4 m-4">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Patient ID</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="patientId" th:field="*{patientId}">
                                    <option value="0">select option</option>
                                    <option th:each="patient : ${patients}" th:value="${patient.patientId}" th:text="${patient.patientId + ' ' + patient.firstName + ' ' + patient.lastName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Doctor</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="doctorId" th:field="*{doctorId}">
                                    <option value="0">select option</option>
                                    <option th:each="doctor : ${doctors}" th:value="${doctor.employeeId}" th:text="${doctor.employeeId + ' ' + doctor.firstName + ' ' + doctor.lastName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Date</label>
                            <div class="col-sm-8">
                                <input type="date" name="date" class="form-control" th:field="*{date}" />
                            </div>
                        </div>
                        <div class="row mb-3">
                                <label class="col-sm-4 col-form-label">Slot</label>
                                <div class="col-sm-8">
                                    <select name="slot" class="form-control">
                                        <option th:each="slot : ${allSlots}" th:value="${slot}" th:text="${slot}"></option>
                                    </select>
                                </div>
                            </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                        <a class="btn btn-primary" href="/appointments/all">Back</a>
                    </div>
                </div>
            </div>                        
        </form>
    </body>
</html>
